<div class="jumbotron">
    <h1 class="display-4 text-center">The Knot Promo Codes & Coupon Nov 2019</h1>
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="container">
            <ul class="tranding_select tabs" style="background:transparent">
                <li class="tab"><a class="waves-effect btn" (click)="switch=false"
                        [ngClass]="{'active': !switch}">Coupons</a></li>
                <li class="tab"><a class="waves-effect btn" (click)="switch=true" [ngClass]="{'active': switch}">Related
                        Stores</a></li>
            </ul>
            <br>
            <div class="row" *ngIf="!switch">
                <div class="col">
                    <section class="notifications_area">
                        <div class="notifications">
                            <div class="hed_notic">Active Coupons</div>
                            <ul class="notifications_content follow">
                                <li>
                                    <a>
                                        <div class="media first_child">
                                            <img src="../../assets/images/profile-9.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect confirm">Get Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-1.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect confirm">Get Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-12.jpg" alt=""
                                                class="circle responsive-img w_img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect confirm">Get Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-2.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect confirm">Get Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-10.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect confirm">Get Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-11.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect confirm">Get Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="notifications">
                            <div class="hed_notic">Expired Coupons</div>
                            <ul class="notifications_content follow">
                                <li>
                                    <a>
                                        <div class="media first_child">
                                            <img src="../../assets/images/profile-9.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect follow_b">View Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-1.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect follow_b">View Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-12.jpg" alt=""
                                                class="circle responsive-img w_img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect follow_b">View Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-2.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect follow_b">View Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-10.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect follow_b">View Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <div class="media">
                                            <img src="../../assets/images/profile-11.jpg" alt=""
                                                class="circle responsive-img">
                                            <div class="media_body">
                                                <p><b class="couponHead">Save Up To 40% Off Tote Blow Out Sale</b></p>
                                                <h6><b>Expiry Date: </b>&nbsp; 22/12/2018</h6>
                                                <div class="btn_group">
                                                    <span class="waves-effect follow_b">View Offer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <br>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <h4>About this Store</h4>
                    <br>
                    Ads will be displayed here flksh lfkjsg fkjgs khdf kusdgkufg ksjkjf skjg fjk g
                    Ads will be displayed here flksh lfkjsg fkjgs khdf kusdgkufg ksjkjf skjg fjk g
                    Ads will be displayed here flksh lfkjsg fkjgs khdf kusdgkufg ksjkjf skjg fjk g
                </div>
            </div>
            <div class="row" *ngIf="switch">
                <div class="col">
                    <div class="row mb-0">
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg"
                                        width="100" height="100" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Toyota</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>