.couponHead{
    font-size: 1.17em !important;
}
.notifications_area{
    padding-top: 0;
    padding-bottom:0
}
.notifications{
    max-width: 100%;
}
.roundImg{
    margin-top:35px;
}
.text-muted{
    margin-top: 20px;
    font-size: 1.35em;
}
.brand-card:hover{
    cursor: grab;
}
.modal-header {
    background-color: #20A8D8 !important;
    color:white !important
}
.template2{
    width: 100%;height: 50px;
    background-color: turquoise;
    border:2px dashed white;
    font-size: 1.5em;color:white;
    padding-top: 9px;
    margin: 5px auto;
}