<div class="jumbotron">
    <h1 class="display-4 text-center">Apparel And Clothing Latest Coupons</h1>
    <hr class="my-4" />
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <form>
                        <select name="categories" class="custom-select customSize">
                            <option selected disabled>Select Store</option>
                            <option value="volvo">Volvo</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                            <option value="volvo">Volvo</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                            <option value="volvo">Volvo</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                            <option value="volvo">Volvo</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                            <option value="volvo">Volvo</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                            <option value="volvo">Volvo</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </form>
                    <br>
                    <br>
                </div>
                <div class="col">
                    <div class="row mb-0">
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="brand-card">
                                <div class="brand-card-header">
                                    <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="55"
                                        height="55" />
                                </div>
                                <div class="brand-card-body">
                                    <div class="text-muted small">Store</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>