<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav($event)">&times;</a>
  <ul class="list-group">
    <li class="list-group-item">Home</li>
    <li class="list-group-item">Stores</li>
    <li class="list-group-item">Categories</li>
    <li class="list-group-item">Blogs</li>
  </ul>
</div>
<nav class="header_area">
  <div class="custom_container">
    <div class="nav-wrapper">
      <a href="" class="brand-logo"><img src="assets/img/brand/sygnet.svg" class="logoImg" /></a>
      <a href="" class="button-collapse" (click)="openNav($event)">
        <i class="fa fa-bars"></i></a>
      <!--<a href="" class="waves-effect btn post_btn sm_post_btn modal-trigger"><i class="ion-plus"></i>Add
        Post</a> -->
      <ul class="left_menu hide-on-med-and-down">
        <li><a href="" class="active">Home</a></li>
        <li><a href="">Stores</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Blogs</a></li>
      </ul>
      <ul class="right right_menu hide-on-med-and-down">
        <li class="search_min">
          <ul class="search_from">
            <li class="notifications follow"><input placeholder="Search Here" type="text" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              <ul class="dropdown-content" style="left:0 !important">
                <li class="hed_notic">Search Results <span><i class="ion-ios-gear-outline"></i></span></li>
                <li>
                  <a href="#">
                    <div class="media">
                      <img src="../../assets/images/profile-9.jpg" alt="" class="circle responsive-img">
                      <div class="media_body">
                        <p><b>Dan Fisher</b> started following you.</p>
                        <h6>544 mutual</h6>
                        <div class="btn_group">
                          <span class="waves-effect follow_b">Follow back</span>
                          <span class="waves-effect">Block</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <img src="../../assets/images/profile-12.jpg" alt="" class="circle responsive-img w_img">
                      <div class="media_body">
                        <p>You are now following <b>Meryl Streep</b></p>
                        <h6>Check out her most recent updates.</h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <img src="../../assets/images/profile-2.jpg" alt="" class="circle responsive-img">
                      <div class="media_body">
                        <p><b>James Richardman </b>started following you.</p>
                        <h6>90 mutual</h6>
                        <div class="btn_group">
                          <span class="waves-effect close_b"><i class="ion-android-close"></i></span>
                          <span class="waves-effect">Block</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li><a href="" class="waves-effect chack_all_btn">Search in Detail</a></li>
              </ul>
            </li>
            <li><a href="" class="search_icon"><i class="icon-magnifier"></i></a>

            </li>


          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="app-body">
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>




<!-- 
<div class="card">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-4 text-center" style="height: 200px !important;">
            <img src="../../assets/img/avatars/danish2.jpg" class="rounded-circle imgTh" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 text-center" style="height: 200px !important;">
            <img src="../../assets/img/avatars/x1.jpg" class="rounded-circle imgTh" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 text-center" style="height: 200px !important;">
            <img src="../../assets/img/avatars/x2.jpg" class="rounded-circle imgTh" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 text-center" style="height: 200px !important;">
            <img src="../../assets/img/avatars/x3.jpg" class="rounded-circle imgTh" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 text-center" style="height: 200px !important;">
            <img src="../../assets/img/avatars/danish2.jpg" class="rounded-circle imgTh" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 text-center" style="height: 200px !important;">
            <img src="../../assets/img/avatars/x1.jpg" class="rounded-circle imgTh" alt="">
        </div>
    </div>
</div> -->

