<div class="jumbotron">
    <h1 class="display-4 text-center">Choose That Fits Your Need...</h1>
    <hr class="my-4" />
    <div class="lead" style="font-size: 1.2em !important;">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-4 p_content" *ngFor="let cat of categoryArr | keyvalue">
                            <a [routerLink]="['/category', cat.value._id]">{{cat.value.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    Ads will be displayed here
                </div>
                <!-- <div class="col">
                    <div class="popular_posts">
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Accessories</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Auto Accessories</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Baby & Kids</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Blogs</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">About</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Privacy & Policy</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="interests">
                        <div class="popular_posts">
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Home</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Stores</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Caategories</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Blogs</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">About</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Privacy & Policy</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Terms & Conditions</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Terms & Conditions</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Terms & Conditions</a>
                                </div>
                            </div>
                            <div class="row valign-wrapper popular_item">
                                <div class="col s9 p_content">
                                    <a href="">Terms & Conditions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="popular_posts">
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Home</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Stores</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Caategories</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Blogs</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">About</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Privacy & Policy</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                        <div class="row valign-wrapper popular_item">
                            <div class="col s9 p_content">
                                <a href="">Terms & Conditions</a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>