.roundImg{
    margin-top:10px
}
.noPadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 30vh !important;
}
.card-img-top{
    width:100px !important;
    height:100px !important;
    margin-top: 20px;
}
h6{
    font-size: 1.15em !important;
}
.read_latter,.middle_section{
    width: 100% !important;
}
.read_latter{
    min-width: 100% !important;
}
.middle_section{
    min-width: 70% !important;
}