<div class="jumbotron">
    <h1 class="display-4 text-center">Choose Best Deals From Amazing Stores!</h1>
    <div class="" style="font-size: 1.2em !important;">
        <section class="min_container min_pages">
            <div class="section_row">
                <div class="middle_section col mx-auto" id="infinite_scroll">
                    <div class="notifications read_latter">
                        <ul class="notifications_content">
                            <li>
                                <a>
                                    <div class="media first_child">
                                        <img src="../../assets/images/read-later-1.jpg" class="circle responsive-img">
                                        <div class="media_body">
                                            <p>Toyota</p>
                                            <h6 class="d-none d-md-block">Toyota is kjfhkjb fuisg fkusgkufgksifgsuk
                                                kusyfiuikgsiuygfiusgiug iuy
                                                fiug iusfk okius yfoius kufg iusg iug iusfyiousf g</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="media first_child">
                                        <img src="../../assets/images/read-later-2.jpg" class="circle responsive-img">
                                        <div class="media_body">
                                            <p>Toyota</p>
                                            <h6 class="d-none d-md-block">Toyota is kjfhkjb fuisg
                                                fkusgkufgksifgsuk
                                                kusyfiuikgsiuygfiusgiug iuy
                                                fiug iusfk okius yfoius kufg iusg iug iusfyiousf g</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="media first_child">
                                        <img src="../../assets/images/read-later-1.jpg" class="circle responsive-img">
                                        <div class="media_body">
                                            <p>Toyota</p>
                                            <h6 class="d-none d-md-block">Toyota is kjfhkjb fuisg fkusgkufgksifgsuk
                                                kusyfiuikgsiuygfiusgiug iuy
                                                fiug iusfk okius yfoius kufg iusg iug iusfyiousf g</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="media first_child">
                                        <img src="../../assets/images/read-later-2.jpg" class="circle responsive-img">
                                        <div class="media_body">
                                            <p>Toyota</p>
                                            <h6 class="d-none d-md-block">Toyota is kjfhkjb fuisg
                                                fkusgkufgksifgsuk
                                                kusyfiuikgsiuygfiusgiug iuy
                                                fiug iusfk okius yfoius kufg iusg iug iusfyiousf g</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="media first_child">
                                        <img src="../../assets/images/read-later-1.jpg" class="circle responsive-img">
                                        <div class="media_body">
                                            <p>Toyota</p>
                                            <h6 class="d-none d-md-block">Toyota is kjfhkjb fuisg fkusgkufgksifgsuk
                                                kusyfiuikgsiuygfiusgiug iuy
                                                fiug iusfk okius yfoius kufg iusg iug iusfyiousf g</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="media first_child">
                                        <img src="../../assets/images/read-later-2.jpg" class="circle responsive-img">
                                        <div class="media_body">
                                            <p>Toyota</p>
                                            <h6 class="d-none d-md-block">Toyota is kjfhkjb fuisg
                                                fkusgkufgksifgsuk
                                                kusyfiuikgsiuygfiusgiug iuy
                                                fiug iusfk okius yfoius kufg iusg iug iusfyiousf g</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        <!-- <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card col-2 noPadding">
            <img src="assets/img/avatars/danish2.jpg" class="card-img-top mx-auto">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div> -->
        <!-- <div class="row justify-content-around">
            <div class="col-2">
                <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
            </div>
            <div class="col-2">
                <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
            </div>
            <div class="col-2">
                <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
            </div>
            <div class="col-2">
                <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
            </div>
        </div> -->
        <!-- <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
        <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
        <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" />
        <img src="assets/img/avatars/danish2.jpg" class="rounded-circle roundImg" width="100" height="100" /> -->
    </div>
</div>