.imgTh{
    border: 8px solid #E26139;
    padding:5px
}
// td{
//     font-size:1.3em;
//     vertical-align: auto !important;
// }
// th{
//     font-size:1.45em
// }
// .table-outline td{
//     vertical-align: auto !important;
// }
.brand-card-header{
    height: auto !important;
}
.roundImg{
    margin-top:10px
}
.storeIcon{
    font-size: 1.4em;
}