.imgTh{
    border: 8px solid #E26139;
    padding:5px
}
td{
    font-size:1.3em;
}
.brand-card-header{
    height: auto !important;
}
.roundImg{
    margin-top:10px
}
.storeIcon{
    font-size: 1.4em;
}
.dealsHead{
    font-weight: normal !important;
    color:#789aaf !important;
    font-size: 1.4em !important;
}
.visitBtn{
    width:40px !important;
    height:40px !important;
    line-height: 40px !important;
}
.btn_floating:hover{
    cursor: grab !important;
}
.dealCard{
    margin:0 !important
}
.interests{
    padding-top: 0 !important;
}
.right_sidebar_iner{
    padding-top: 15px !important;
}
.display-4{
    font-size: 3.2em;
}
.orangeBtn{
    background-color:#E26139;
    border:none;
    color:white
}
.height87{
   height: 88vh;
}
.manAvatar{
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.customImgRound{
    display: inline;
  margin: 0 auto;
  margin-left: -25%;
}